<div id="main-content" class="row">
    <div>
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            @await Html.PartialAsync("_DynamicTabs")
        }
        @await Html.PartialAsync("_LexicalContextMenus")
    </div>
    <hr />
</div>