<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LASI.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MaximumEntropyModelDirectory" value="..\\..\\..\\ThirdPartyComponents\TaggingPackage\Resources\OpenNLP\OpenNLP\Models\" />
    <add key="WordnetSearchDirectory" value="..\\..\\..\\ThirdPartyComponents\TaggingPackage\Resources\OpenNLP\OpenNLP\Models\namefind\" />
    <add key="ThesaurusFileDirectory" value="..\\..\\..\\WordNetThesaurusData\"/>
  </appSettings>
  <applicationSettings>
    <LASI.UserInterface.Properties.Settings>
      <setting name="DefaultProjectsDirectory" serializeAs="String">
        <value />
      </setting>
    </LASI.UserInterface.Properties.Settings>
  </applicationSettings>
</configuration>
