<!--<div ng-controller="DebugPanelController as status" class="panel panel-body">
    <button class="btn" id="toggle-debug-panel"
            ng-click="status.toggle()" ng-class="{ 'btn-danger' : status.show, 'btn-success' : !status.show }">
        {{status.show ? 'Hide' : 'Show'}}
    </button>
    <div id="debug-panel" class="panel panel-info" ng-show="true">
        <ul class="list-group">
            <li ng-repeat="task in status.tasks" class="list-group-item">
                id: {{task.id}}, name: {{task.name}}, state: {{task.state}}, percentComplete: {{task.percentComplete}}, statusMessage: {{task.statusMessage}}
            </li>
        </ul>
    </div>
</div>-->
