<div class="panel panel-body panel-collapse">
    <button ng-click="debug.toggle()"
            class="btn"
            ng-class="{
                'btn-danger': debug.infoVisible,
                'btn-success': !debug.infoVisible
            }"
            id="toggle-debug-panel">
        {{debug.buttonText}}
    </button>
    <div id="debug-panel" class="panel panel-info" ng-show="debug.infoVisible">
        <ul class="list-group">
            <li ng-repeat="task in debug.tasks" class="list-group-item">
                Id: {{task.id}}, Name: {{task.name}}, State: {{task.state}}, Percent Complete: {{task.percentComplete}}, Status Message: {{task.statusMessage}}
            </li>
        </ul>
    </div>
</div>
