@{
    ViewBag.Title = "Document";
}
@using MvcExperimentation.LexicalElementStyling;
<h2>Document</h2>
@{System.IO.Directory.SetCurrentDirectory(@"C:\Users\Aluan\Documents\GitHub\LASI\MvcApplication1\bin");



var styleMap = new SyntacticStyleMapping();
    <p class="lexical-content-block">
        @{

            foreach (var documentParagraph in (ViewData["doc"] as LASI.Core.DocumentStructures.Document).Paragraphs) {

                foreach (var phrase in documentParagraph.Phrases) {
                    <span style=@styleMap[phrase]> @(phrase.Text)</span>  }

            }

        }
    </p>

}

