<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaximumEntropyModelDirectory"
         value="..\\LASI_UserInterface\TaggingPackage\OpenNLP\OpenNLP\Models\" />
    <add key="WordnetSearchDirectory"
         value="..\\LASI_UserInterface\TaggingPackage\WordNet\2.1\dict" />
    <add key="PrepositionDataFilePath"
         value="..\\LASI_UserInterface\Resources\LASICustom\Binding\SubordinatingConjunctionsTest.txt" />
    <add key="ConvertersDirectory"
         value="Resources\StandaloneFileConverters\" />
  </appSettings>
</configuration>