<form novalidate name="login-form" ng-submit="login.login()" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <div class="form-group">
            <label class="control-label">Username: </label>
            <input type="text" name="email" id="email" placeholder="email" ng-model="login.username" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Password: </label>
            <input type="password" name="password" id="password" ng-model="login.password" class="form-control" />

            <input name="__RequestVerificationToken" type="hidden">
        </div>
        <div class="form-group">
            <label class="control-label">Remeber Username?: </label>
            <input type="checkbox" name="remember-me" id="remember-me" ng-model="login.rememberMe" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>