<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ProjectWebsite" value="http://lasi-project.org"/>
        <add key="ResourcesDirectory" value="~/"/>
        <add key="MongodExecutableLocation" value="C:\Program Files\MongoDB 2.6 Standard\bin\mongod.exe"/>
        <add key="MongoDbPath" value="~/App_Data\Mongo\data\db"/>
        <add key="AccountStorageMedium" value="MongoDb"/>
        <add key="MaximumEntropyModelDirectory" value="Resources\TaggingPackage\OpenNLP\OpenNLP\Models\"/>
        <add key="WordnetSearchDirectory" value="Resources\TaggingPackage\WordNet\2.1\dict\"/>
        <add key="SubordinatingPrepositionalsInfoFile" value="Resources\LASICustom\Binding\KnownSubordinators.txt"/>
        <add key="ConvertersDirectory" value="Resources\StandaloneFileConverters\"/>
        <add key="WordnetFileDirectory" value="Resources\WordNetThesaurusData\"/>
        <add key="NameDataDirectory" value="Resources\LASICustom\NameData\"/>
    </appSettings>
</configuration>-->