@using LASI.WebApp;
@using LASI.WebApp.Models;
@using MvcFileUploader;
@using MvcFileUploader.HtmlHelper;
@using MvcFileUploader.Models;
<div>
    <div class="well">
        
    </div>
    <div class="modal fade" id="uploaddialog" tabindex="-1" role="dialog" aria-hidden="true">

    </div>
</div>
