@using LASI.WebApp.Models;
@model AccountModel
@{
    ViewBag.Title = "Welcome " + Model.FirstName ?? string.Empty;
}
@functions{
    public string GetAntiForgeryToken() {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <div>
        @Html.Partial("_DocumentUpload", new FileUploadModel
   {
       UploadTarget = "fileuploadtarget"
   })
    </div>
</div>
