@using LASI;
@using LASI.Core;
@using LASI.Core.DocumentStructures;
@using LASI.WebApp;
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Progress";
}

<h2>Progress</h2>
<br />
<ul id="documentlist">
    @foreach (var doc in ViewData["docs"] as IEnumerable<Document>) {
        <li class="list-group-item">

            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </li>
    }
</ul>

@Scripts.Render("~/Sripts/App/Home/Initialize.js")
@Scripts.Render("~/Sripts/App/Home/Progress.js")