@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div>

    </div>
</body>
</html>
