<div>
    <link href="~/css/widgets/document-upload.css" rel="stylesheet" />
    <div ng-controller="UploadController as upload">
        <div class="upload-button" ngf-select ng-model="upload.files" ngf-multiple="multiple">
            <i class="fa fa-file-text-o fa-lg"></i><i class="fa fa-file-word-o fa-lg"></i><i class="fa fa-file-pdf-o fa-lg"></i>
        </div>
        on file change:
        <div class="upload-button" ngf-select ngf-change="upload.uploadFiles()" ngf-multiple="multiple">
            <i class="fa fa-file-text-o fa-lg"></i><i class="fa fa-file-word-o fa-lg"></i><i class="fa fa-file-pdf-o fa-lg"></i>
        </div>
        Drop File:
        <div ngf-drop ngf-select ng-model="upload.files" class="upload-drop-box"
             ngf-drag-over-class="upload-dragover" ngf-multiple="true" ngf-allow-dir="true"
             accept="upload.fileInputAcceptText">
            Drop pdfs or images here or click to upload
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
        Files:
        <ul>
            <li ng-repeat="file in upload.files" style="font:smaller">{{file.name}}</li>
        </ul>
        Upload Log:
<pre>{{log}}</pre>
        <button class="btn btn-primary" type="button" value="Upload" ng-click="upload.uploadFiles()"><i class="fa fa-upload fa-lg"></i></button>
    </div>
</div>
