<div ng-controller="DebugPanelController as status" class="panel panel-title">
    Task List: <input type="button" class="btn" id="toggle-debug-panel"
                      ng-click="status.toggle()" ng-model="status.show" value="{{status.show? 'Hide': 'Show'}}" ng-class="{ 'btn-danger' : status.show, 'btn-success' : !status.show }" />
    <div class="panel">
    </div>
    <div class="panel panel-body">
        <div id="debug-panel" class="panel panel-info" ng-show="status.show && status.tasks.length">
            <ul class="list-group">
                <li ng-repeat="task in status.tasks" class="list-group-item">
                    id: {{task.id}}, name: {{task.name}}, state: {{task.state}}, percentComplete: {{task.percentComplete}}, statusMessage: {{task.statusMessage}}
                </li>
            </ul>
        </div>
    </div>
</div>