@model DocumentUploadModel
<form asp-controller="UserDocuments" class="form-inline" asp-action="Post" method="post" enctype="multipart/form-data" target="output-frame" id="fileuploadform">
    <div class="row">
        <div class="col-md-6">
            <div class="progress">
                <div id="progress-bar"
                     class="progress-bar text-aligned-progress-bar"
                     style="max-width: 100%; width:@Model.Percentage"
                     role="progressbar"
                     aria-valuenow="60"
                     aria-valuemin="0"
                     aria-valuemax="100">
                </div>
            </div>

            <div class="panel-body">
                <div id="document-upload-list" class="list-group"></div>
            </div>
            <span class="btn btn-default btn-file" id="document-upload-button">
                Browse for Docs <input type="file"
                                       name="fileuploadform"
                                       form="fileuploadform"
                                       multiple
                                       id="document-upload-input"
                                       accept=".txt,.pdf,.docx,.doc" />
            </span>
            <input type="submit" name="Submit" value="Upload" class="btn btn-default" form="fileuploadform" />
            <iframe class="hidden" id="output-frame" name="output-frame" src=""></iframe>
        </div>

    </div>
</form>
