<div ng-cloak>
    <tabset class="tabs-left">
        <tab ng-cloak ng-repeat="document in controller.documents track by document.id">
            <tab-heading class="document-viewer-tab-heading" ng-click="controller.processDocument(document)">
                {{document.name}}
                <div ng-controller="SearchBoxController as search">
                    <input ng-init="search.searchContext = document.raeification"
                           ng-model="search.find"
                           type="text"
                           value="search.find"
                           placeholder="find"
                           ng-blur="search.search(search.find)" />
                </div>
                <processing-task-progress-bar task="document.task"></processing-task-progress-bar>
            </tab-heading>
            <div class="col-md-9">
                <document-viewer-directive document="document.raeification"></document-viewer-directive>
            </div>
        </tab>
    </tabset>
</div>