<div ng-cloak>
    <uib-tabset class="tabs-left">
        <uib-tab ng-cloak ng-repeat="document in controller.documents track by document.id">
            <uib-tab-heading class="document-viewer-tab-heading" ng-click="controller.processDocument(document)">
                {{document.name}}
                <div class="form-group">
                    <search-box search-context="document.raeification"></search-box>
                </div>
                <div class="form-group">
                    <processing-task-progress-bar task="document.task"></processing-task-progress-bar>
                </div>
            </uib-tab-heading>
            <div class="col-md-9">
                <document-viewer document="document.raeification"></document-viewer>
            </div>
        </uib-tab>
    </uib-tabset>
</div>