<div id="verbal-context-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li id="subjects-item"
            class="view-subjects-menu-item"><a href="#">View Subjects</a></li>
        <li id="directobjects-item"
            class="view-directobjects-menu-item"><a href="#">View Direct Objects</a></li>
        <li id="indirectobjects-item"
            class="view-indirectobjects-menu-item"><a href="#">View Indirect Objects</a></li>
    </ul>
</div>
<div id="referencer-context-menu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li id="referredto-item"
            class="view-referredto-menu-item"><a href="#">View Referred To</a></li>
    </ul>
</div>