@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetUserName()!</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(
               linkText: "Register",
               controllerName: "Account",
               actionName: "Register",
               routeValues: new { },
               htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink(
               linkText: "Login",
               controllerName: "Account",
               actionName: "Login",
               routeValues: new { },
               htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
