@model LASI.WebApp.Models.DocumentStructures.ParagraphModel

<div class="lexical-content-block @Model.Style.CssClass">
    &nbsp;&nbsp;&nbsp;&nbsp;
    @foreach (var sentenceModel in Model.SentenceModels)
    {
        @Html.Partial("_Sentence", sentenceModel)
    }
</div>
