{
  "ignore": [
    "jspm_packages"
  ],
  "ecmaFeatures": {
    "classes": true,
    "modules": true,
    "arrowFunctions": true,
    "impliedStrict": true,
    "blockBindings": true,
    "spread": true
  }
}