{
  "$schema": "http://json.schemastore.org/eslintrc",
  "ignore": [
    "jspm_packages",
    "node_modules"
  ],
  "rules": {
    "prefer-const": 1
  },
  "ecmaFeatures": {
    "classes": true,
    "modules": true,
    "arrowFunctions": true,
    "impliedStrict": true,
    "blockBindings": true,
    "spread": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {}
}