<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LASI.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ProjectWebsite" value="http://lasi-project.org"/>
    <add key="ResourcesDirectory" value="..\..\..\WebApp\" />
    <add key="MaximumEntropyModelDirectory" value="Resources\TaggingPackage\OpenNLP\OpenNLP\Models\"/>
    <add key="WordnetSearchDirectory" value="Resources\TaggingPackage\OpenNLP\OpenNLP\Models\namefind\"/>
    <add key="WordnetFileDirectory" value="Resources\WordNetThesaurusData\"/>
    <add key="SubordinatingPrepositionalsInfoFile" value="Resources\LASICustom\Binding\KnownSubordinators.txt"/>
    <add key="NameDataDirectory" value="Resources\LASICustom\NameData\"/>
    <add key="ConvertersDirectory" value="Resources\StandaloneFileConverters\"/>
    <add key="AutoDebugCleanupOn" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <LASI.UserInterface.Properties.Settings>
      <setting name="AutoNameProjects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PerformanceLevel" serializeAs="String">
        <value>High</value>
      </setting>
      <setting name="TrayMinimize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoCleanProjectFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogProcessMessagesToFile" serializeAs="String">
        <value>True</value>
      </setting>
    </LASI.UserInterface.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
