
.proper {
    color: darkred;
}

.referencer {
    color: hotpink;
}

.infinitive {
    color: teal;
}

.entity {
    color: deepskyblue;
}

.conjunctive {
    color: chartreuse;
}

.prperositional {
    color: darkorange;
}

.descriptor {
    color: indigo;
}

.verbal {
    color: green;
}

.adverbial {
    color: orange;
}

.lexical-default-style {
    color: black;
}

.present-participle-gerund {
    color: forestgreen;
}

.documentselectiontab {
    /*display: inline-block;*/
    /*float: left;*/
    margin: 5em;
    outline-color: azure;
    list-style-type: none;
}



.document {
    background-color: ghostwhite;
    text-wrap: normal;
    text-align: left;
    text-space-collapse: preserve-breaks;
    text-indent: each-line;
}


.paragraph {
    text-indent: each-line;
}

.page {
}

.sentence {
}

.documentlist {
    border: 1px;
    border-color: tan;
    clear: right;
}

.break-after {
    break-after: always;
}

.lexical-content-block span {
}

/*#region info and errors */
.error {
    float: none;
    padding-left: .5em;
    color: red;
    vertical-align: top;
}

.validation-summary-errors {
    width: 220px;
    color: red;
    list-style: none;
    font-size: .8em;
}

    .validation-summary-errors ul {
        margin: 0 !important;
        padding: 0 !important;
    }

/*#endregion */
.lexical-content-block span.selected {
    background-color: aqua;
}

.view-subects-menu-item {
}

.view-directobjects-menu-item {
}

.view-indirectobjects-menu-item {
}

.view-referredto-menu-item {
}

.view-empty-menu-item {
}
