<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="document-list-navbar-item-container" class="dropdown-toggle">

                <div ng-if="navbar.user"
                     class="collapse navbar-collapse navbar-left"
                     id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" id="dropdown-list-item-container">
                            <a data-toggle="dropdown"
                               class="dropdown-toggle"
                               id="document-menu-dropdown-href"
                               ng-click="navbar.toggleExpanded()"
                               role="button"
                               aria-expanded="false">
                                <span class="fa"
                                      ng-class="{
                                          'fa-folder-open': navbar.expanded,
                                          'fa-folder': !navbar.expanded
                                      }">
                                    &nbsp;<span class="badge small">{{navbar.documents && navbar.documents.length}}</span>
                                </span>&nbsp;&nbsp;<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown" id="document-list-item-manage">
                                    <span class="btn" ng-click="navbar.openManageDocumentsModal()">Manage</span>
                                </li>
                                <document-list-menu-item ng-repeat="document in navbar.documents"
                                                         ng-model="document"
                                                         document-id="document.id"
                                                         name="document.name"
                                                         analysis-progress="document.progress">
                                </document-list-menu-item>
                                <li class="dropdown">
                                    <a href="#"
                                       id="new-text-editor-item"
                                       data-toggle="collapse"
                                       data-target="#free-editor"
                                       class="nav-justified fa fa-pencil">
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-brand">
                    <a ui-sref="app.home">
                        <span><img class="project-logo-navbar" src="images/ic_launcher-web - Copy.png" /></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!navbar.user">
                    <a ui-sref="app.login">Login</a>
                </li>
                <li ng-show="navbar.user">
                    <a ui-sref="app.account">Welcome {{navbar.user.email}}!</a>
                </li>
                <li ng-show="navbar.user">
                    <form ng-submit="navbar.logoff()" novalidate method="post" name="logout-form" id="logout-form" class="navbar-right">
                        <div>
                            <div>
                                <button type="submit" class="navbar-inverse nav navbar-btn small"><i class="fa fa-sign-out fa-inverse"></i> <span style="color: white">Logoff</span></button>
                            </div>
                        </div>
                    </form>
                </li>
                <li ng-hide="navbar.user">
                    <a href="/account/register">Register</a>
                </li>

            </ul>
        </div>
    </div>
</div>
