@using LASI.WebApp.Old;
@using LASI.WebApp.Old.Models;
@using LASI.WebApp.Old.Models.Lexical;
@model ParagraphModel

<p class="lexical-content-block @Model.Style.CssClass">
    @foreach (var phraseModel in Model.PhraseModels) {
        Html.RenderPartial("_Phrase", phraseModel);
    }
</p>