

.documentselectiontab {
    /*display: inline-block;*/
    /*float: left;*/
    margin: 5em;
    outline-color: azure;
    list-style-type: none;
}

.documentlist {
    border: 1px;
    border-color: tan;
    clear: right;
}

.break-after {
    break-after: always;
}

.lexical-content-block span {
    position: relative;
}

.NounPhrase {
    color: darkblue;
}


.Proper {
    color: darkred;
}

.Referencer {
    color: hotpink;
}

.Infinitive {
    color: teal;
}

.Entity {
    color: deepskyblue;
}

.Conjunctive {
    color: chartreuse;
}

.Prperositional {
    color: darkorange;
}

.Descriptror {
    color: indigo;
}

.Verbal {
    color: green;
}

.Adverbial {
    color: orange;
}

.LexicalDefaultStyle {
    color: black;
}

.Gerund {
    color: forestgreen;
}
/*#region info and errors */
.error {
    float: none;
    padding-left: .5em;
    color: red;
    vertical-align: top;
}

.validation-summary-errors {
    width: 220px;
    color: red;
    list-style: none;
    font-size: .8em;
}

    .validation-summary-errors ul {
        margin: 0 !important;
        padding: 0 !important;
    }

/*#endregion */
.lexical-content-block span.selected {
    background-color: aqua;
}

.view-subects-menu-item {
}

.view-directobjects-menu-item {
}

.view-indirectobjects-menu-item {
}

.view-empty-menu-item {
}
