$border-color: #fff solid;
$text-shadow: rgba(0, 0, 0, .5);

body {
  margin: 0;
}

.splash {
  box-sizing: border-box;
  margin: 10% 0 0;
  text-align: center;

  .message {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 72px;
    line-height: 72px;
    text-shadow: $text-shadow 0 0 15px;
    text-transform: uppercase;
  }

  .fa-spinner {
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
    text-align: center;
  }

  .page-host {
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 50px;
  }
  @media print {
    .page-host {
      bottom: 0;
      left: 10px;
      overflow-x: inherit;
      overflow-y: inherit;
      position: absolute;
      right: 0;
      top: 50px;
    }
  }
}

section {
  margin: 0 20px;
}

.navbar-nav {
  .loader {
    margin: 12px 24px 0 6px;
  }
}

.picture-detail {
  max-width: 425px;
}

// animate page transitions

section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

au-stagger {
  div {
    // 50ms will be applied between each successive enter operation */
    animation-delay: 50ms;
  }
}

.card-container {
  .au-enter {
    opacity: 0;
  }

  .au-enter-active {
    animation: fadeIn 2s;
  }
}
$card-color: rgb(136, 172, 217);
$card-background-color:  #337ab7;
$card-box-shadow: rgba(0, 0, 0, .5);
$white: #fff;
$card-border-color:  #ccc;

.card {
  background-color: $card-background-color;
  border: 1px solid $card-border-color;
  border-radius: 8px;
  box-shadow: $card-box-shadow 0 0 5px ;
  color: $card-color;
  margin-bottom: 32px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;

  .content {
    margin-top: 10px;
  }

  .card {
    .content {
      .name {
        color: $white;
        font-size: 18px;
        text-shadow: 0 0 6px $card-box-shadow;
      }
    }

    .avatar {
      margin-top: 15px;
      position: relative;
      z-index: 100;

      img {

        border: 2px $border-color;
        border-radius: 50%;
        height: 100px;
        width: 100px;
      }
    }

    .header-bg {
      // This stretches the canvas across the entire hero unit */
      border-bottom: 1px $border-color;
      border-radius: 6px 6px 0 0;
      height: 70px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

  }
}
// animation definitions
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
