@using AspSixApp.Models;

@model DocumentUploadModel
@using (Html.BeginForm(actionName: "Post", controllerName: "Tasks", method: FormMethod.Post, htmlAttributes: new
{
    action = "api/tasks",
    method = "post",
    enctype = "multipart/form-data",
    target = "output_frame",
    @class = "form-inline",
    id = "fileuploadform"
}))
{
    <div class="row">
        <div class="col-md-6">

            <div class="progress">
                <div id="progress-bar" class="progress-bar text-aligned-progress-bar" style="max-width: 100%; width:@Model.Percentage" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>

            <div class="panel-body">
                <div id="document-upload-list" class="list-group"></div>
            </div>
            <span class="btn btn-default btn-file" id="document-upload-button">
                Browse for Docs <input type="file" name="fileuploadform" form="fileuploadform" multiple id="document-upload-input" accept=".txt,.pdf,.docx,.doc" />
            </span>
            <input type="submit" name="Submit" value="Upload" class="btn btn-default" form="fileuploadform" />
            <iframe class="hidden" id="output_frame" name="output_frame" src=""></iframe>
        </div>

    </div>
}