@using System.Security.Principal;
@using Microsoft.Framework.DependencyInjection;
@using Microsoft.AspNet.Http;
@if (User.Identity.IsAuthenticated)
{
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" id="dropdown-menu-one">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@*@User.Identity.Name*@ <span class="glyphicon glyphicon-cog"></span> &nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("View Profile", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li><a href="#">Organization</a></li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
        </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

}