@using AspSixApp.Models
<div id="main-content" class="row">
    <div class="col-md" id="col-left">
        <div class="panel panel-collapse">

            <div class="row" id="task-list-panel">
                <div class="panel-group" id="accordion">
                    <div class="lexical-content-block"></div>
                </div>
            </div>
        </div>


        <div class="col-md pull-right" id="col-right">
            <div class="col-md" id="col-main">
                <div class="panel-collapse collapse" aria-hidden="true" id="free-editor">
                    <textarea></textarea>
                </div>
                <div>
                    @await Html.PartialAsync("_DocumentUpload", new DocumentUploadModel { UploadTarget = "fileuploadtarget" })
                </div>
            </div>
        </div>

    </div>
</div>
@await Html.PartialAsync("_LexicalContextMenus")