@{
    ViewBag.Title = "Home";
}

@using AspSixApp.Models;

<header>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</header>

<div id="main-content">
    <div>
        @Html.Partial("_DocumentUpload", new DocumentUploadModel
       {
           UploadTarget = "fileuploadtarget"
       })
    </div>
</div>

