@using AspSixApp.Models;
<div id="main-content" class="row">
    <div>
        <div class="col-md-4 pull-left" id="col-left">

        </div>
        <div class="col-md" id="col-main">
            @Html.Partial("_DocumentUpload", new DocumentUploadModel
       {
           UploadTarget = "fileuploadtarget"
       })
        </div>
        <div class="col-md-4 pull-right" id="col-right">

        </div>

    </div>
</div>

