@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ASP.NET 5</h1>
    @using AspSixApp.Models;

    <header>
        <h1>@ViewBag.Title</h1>
    </header>

    <div id="main-content">
        <div>
            @Html.Partial("_DocumentUpload", new DocumentUploadModel
       {
           UploadTarget = "fileuploadtarget"
       })
        </div>
    </div>

</div>
