body, input, button {
    font-size: 1.2em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

.documentselectiontab {
    display: inline-block;
    float: left;
    margin: 5em;
    outline-color: azure;
    list-style-type: none;
}

.documentlist {
    clear: right;
}

.break-after {
    break-after: always;
}

body {
    margin: 1em auto;
    max-width: 980px;
    background-color: #fff;
    color: #333;
    /*Remove this to make it full screen*/
}

button, input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content-wrapper {
    position: static;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 960px;
}


/*#region Header */

header {
    position: relative;
    z-index: -1;
    margin: 0 .7em;
}

    header p {
        margin: 0;
        font-size: 2.5em;
    }

#userSettings {
    float: right;
}

    #userSettings > form:before {
        content: ' | ';
    }

    #userSettings form {
        display: inline;
    }

#menu {
    padding: 0;
    list-style-type: none;
}

    #menu li {
        display: inline-block;
    }

        #menu li:not(:first-child) {
            margin-left: .8em;
        }

/*#endregion */

/*#region forms */

#changePasswordForm input,
#registerForm input,
#loginForm input {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

    #changePasswordForm input[type=text], #changePasswordForm input[type=password],
    #registerForm input[type=text], #registerForm input[type=password],
    #loginForm input[type=text], #loginForm input[type=password] {
        width: 220px;
        background: white;
    }

    #loginForm input[type=checkbox] {
        border: none;
    }

    #changePasswordForm input[type=submit] {
        margin-bottom: .8em;
    }

#registerPanel {
    position: relative;
    display: none;
    float: left;
    padding: 25px;
    text-align: left;
}

#loginPanel {
    position: relative;
    display: block;
    float: left;
    padding: 25px;
    width: 600px;
    text-align: left;
}

    #registerPanel h2,
    #loginPanel h2 {
        margin: 0;
        padding-bottom: .5em;
    }

    #registerPanel a,
    #loginPanel a {
        color: navy;
        font-weight: bold;
        cursor: pointer;
    }

    #registerPanel p,
    #loginPanel p {
        clear: both;
    }

#localLoginPanel {
    float: left;
    width: 45%;
    border-right: solid 2px #c8c8c8;
    text-align: left;
}

#socialLoginPanel {
    float: left;
    margin-left: 40px;
    width: 45%;
    text-align: left;
}

    #socialLoginPanel h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#externalLogins {
    padding-left: 25px;
    text-align: left;
}

fieldset {
    display: inline;
    margin: 0 auto;
    padding: 0 20px;
    border: none;
    text-align: left;
}

    fieldset legend {
        display: none;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

    fieldset ol {
        margin: 0 0 8px 0;
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

ol.round {
    padding-left: 0;
    list-style-type: none;
}

/*#endregion */

#main-content {
    min-height: 400px;
    text-align: center;
}

.NounPhrase {
    color: darkblue;
}

.Proper {
    color: darkred;
}

.Referencer {
    color: hotpink;
}

.Infinitive {
    color: teal;
}

.Entity {
    color: deepskyblue;
}

.Conjunctive {
    color: chartreuse;
}

.Prperositional {
    color: darkorange;
}

.Descriptror {
    color: indigo;
}

.Verbal {
    color: green;
}

.Adverbial {
    color: orange;
}

.LexicalDefaultStyle {
    color: black;
}

.Gerund {
    color: forestgreen;
}
/*#region info and errors */
.error {
    float: none;
    padding-left: .5em;
    color: red;
    vertical-align: top;
}

.validation-summary-errors {
    width: 220px;
    color: red;
    list-style: none;
    font-size: .8em;
}

    .validation-summary-errors ul {
        margin: 0 !important;
        padding: 0 !important;
    }

/*#endregion */

/*#region Unauthorized */

#unauthorized {
    margin: 3em 0;
    text-align: center;
}

    #unauthorized ul {
        margin: 3em 0;
        padding: 0;
        list-style: none;
    }

    #unauthorized li {
        display: inline-block;
        padding: 6px 20px;
        border: 1px solid gray;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #dedede;
    }

        #unauthorized li:first-child {
            margin-right: 2em;
        }

/*#endregion */

/*#region Footer */

footer {
    clear: both;
    margin: 5em 5em .7em 0;
}

/*#endregion */

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        clear: both;
        text-align: center;
    }
}

#control_contextmenu {
    min-width: 150px;
    border: 1px solid #666;
    background-color: #eee;
}





nav {
    display: inline-block;
    float: none;
    clear: both;
    margin: 1em;
    padding: 1em;
}

    nav > ul {
    }

        nav > ul > li {
            align-self: center;
            align-content: center;
            align-items: center;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            position: static;
            display: block;
            float: left;
            margin: 3px;
            padding: 3px;
            width: 100%;
            border: 3px;
            border-radius: 2em;
            background-color: lightblue;
            list-style: none;
            text-align: center;
        }

ul > li:hover {
    background-color: darkcyan;
    color: white;
}

li > a {
    align-content: center;
    display: inline-block;
    text-align: center;
}

.menuwrapper {
    position: absolute;
    border: 0.1em solid black;
    border-radius: 0.5em;
    background-color: #ffffff;
    text-align: center;
}

.phrasemenu {
    align-items: center;
    position: static;
    display: inline-block;
    float: none;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 0.25em;
    background-color: grey;
    list-style: none;
    text-align: center;
}

.phrasemenuitem {
    -moz-user-select: none;
    align-self: center;
    align-items: center;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-content: center;
    user-select: none;
    padding: 0.2em;
    border-radius: 0.2em;
    color: seashell;
    list-style: inherit;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}

.lexical-content-block span {
    position: relative;
}
