<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="../../lib/requirejs/require.js" data-main="startup.js"></script>
    <script src="../../lib/angular/angular.js"></script>
    <script type="text/javascript">
        angular.module('app', [])
            .controller('TestController', function () {
                this.data = [
                    { name: 'testd1', id: 0, progress: 0.1 },
                    { name: 'testd2', id: 1, progress: 0.2 }];
            });
    </script>
    <script src="../../app/widgets/document-list-app/documentListMenuItem.js"></script>

    <div ng-app="app">
        <div ng-controller="TestController as test">
            <document-list-menu-item ng-repeat="item in test.data" ng-model="item" document-id="item.id" name="item.name" progress="item.progress">{{item}}</document-list-menu-item>
        </div>
    </div>
</body>
</html>