<div id="main-content" class="row" ng-cloak>
    <uib-tabset class="tabs-left">
        <uib-tab ng-cloak ng-repeat="document in home.documents track by document.id">
            <uib-tab-heading class="document-viewer-tab-heading" ng-click="home.processDocument(document)">
                {{document.name}}
                <div class="form-group">
                    <search-box search-context="document.raeification"></search-box>
                </div>
                <div class="form-group">
                    <processing-task-progress-bar task="document.task"></processing-task-progress-bar>
                </div>
            </uib-tab-heading>
            <div class="col-md-9">
                <document-viewer document="document.raeification"></document-viewer>
            </div>
        </uib-tab>
    </uib-tabset>
    {{JSON.stringify(app.$state)}}
    {{JSON.stringify(app.$stateParams)}}

    <div id="verbal-context-menu">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li id="subjects-item" class="view-subjects-menu-item"><a href="#">View Subjects</a></li>
            <li id="directobjects-item" class="view-directobjects-menu-item"><a href="#">View Direct Objects</a></li>
            <li id="indirectobjects-item" class="view-indirectobjects-menu-item"><a href="#">View Indirect Objects</a></li>
        </ul>
    </div>
    <div id="referencer-context-menu">
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li id="referredto-item" class="view-referredto-menu-item"><a href="#">View Referred To</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <upload-panel></upload-panel>

        <debug-panel />
    </div>
</div>
