@using LASI.Core;
@using LASI;
@using LASI.WebApp.Controllers;
@using LASI.WebApp;
@using Newtonsoft.Json;

@Styles.Render("~/Content/App/Account/Login.css")

@{
    ViewBag.Title = "Login";
}

@model LASI.WebApp.Models.AccountModel

@{
    Response.OutputCache(60);
}

<div class="container">
    <div class="panel-body">
        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input class="form-control" type="email" autofocus="" required="" placeholder="Email address" />
            <input class="form-control" type="password" required="" placeholder="Password" />
        </form>
        <label class="checkbox">
            <input type="checkbox" value="remember-me" />
            Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
        @Html.ActionLink(linkText: "Sign up",
    actionName: "CreateAccount",
    controllerName: "Account",
    routeValues: new { },
    htmlAttributes: new { @class = "btn btn-lg btn-primary btn-block" })
    </div>
</div>