<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fs4net" version="0.7.0" targetFramework="net453" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="net453" />
  <package id="NUnit" version="3.0.0-alpha-3" targetFramework="net453" />
  <package id="NUnit.Mocks" version="2.6.3" targetFramework="net453" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net452" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net452" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net453" />
</packages>