<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaximumEntropyModelDirectory" value="..\\..\\..\\..\\ThirdPartyComponents\TaggingPackage\Resources\OpenNLP\OpenNLP\Models\" />
    <add key="WordnetSearchDirectory" value="..\\..\\..\\..\\ThirdPartyComponents\TaggingPackage\Resources\OpenNLP\OpenNLP\Models\namefind\" />
  </appSettings>
</configuration>