
<div class="modal-content">
    <div class="modal-header handle modal-drag-handle">
        <button type="button" class="close" ng-click="confirmDelete.dismiss()" aria-hidden="true">&times;</button>
        <div class="modal-title">Are you sure you want to delete <em>{{confirmDelete.document.name}}</em>?</div>
    </div>
    <div class="modal-body">
        <button type="button" role="button" class="btn btn-block" value="OK"
                ng-click="confirmDelete.confirm()">
            OK<span hidden></span>
        </button>
        <button type="button" role="button" class="btn btn-block" ng-click="confirmDelete.cancel()">Cancel</button>
    </div>
    <div class="modal-footer">
    </div>
</div>