.typeahead,
.tt-query,
.tt-hint {
  border: 1px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 1px solid #0097cf;
}
.tt-hint {
  color: #999
}

.tt-suggestion {
  padding: 6px 20px;
  font-size: 18px;
  line-height: 1.33;
  border-bottom: 1px solid rgba(34,36,38,.1);
}

.tt-suggestion:first-child {
  border-radius: 4px 4px 0 0;
}

.tt-suggestion:last-child {
  border-radius: 0 0 4px 4px;
}

.tt-suggestion .name {
  white-space: nowrap;
  color: gray;
  font-size: 0.75em;
  display: inline-block;
  width: 280px;
  text-align: right;
}
.tt-suggestion .exchange {
  white-space: nowrap;
  color: lightgray;
  font-size: 0.75em;
  display: inline-block;
  text-align: right;
}

.tt-suggestion .symbol {
  white-space: nowrap;
  display: inline-block;
  width: 80px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0161D2;
}

.tt-suggestion:hover span {
  color: #fff;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0161D2;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}
.tt-menu {
  white-space: nowrap;
  margin: 12px 0;
  /* padding: 8px 0; */
  right: 0px !important;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
}

.results {
  margin: 12px 0;
  right: 0px !important;
  left: -100% !important;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
}