@using AspSixApp.WebHelpers
@using LASI.Utilities

@model AspSixApp.Models.DocumentStructures.DocumentModel

<div id="main-content">
    @RenderDocumentBodyModel(Model)
</div>
@helper RenderDocumentBodyModel(AspSixApp.Models.DocumentStructures.DocumentModel documentModel)
{
            <div id=@(documentModel.Title.ToSafeHtmlDomId()) class="container">
                <h4 class="panel-title">@documentModel.Title</h4>
            </div>
            <div class="document">
                @{
                    var indexedPages = documentModel.PageModels.WithIndex();
                    <nav>
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            @foreach (var pageModel in indexedPages)
                            {
                                var index = pageModel.Index + 1;
                                <li><a href="#page@(index)">@index</a></li>
                            }

                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>

                    </nav>
                    <div>
                        @foreach (var pageModel in indexedPages)
                        {
                            var index = pageModel.Index + 1;

                            <div id="page@(index)">

                                @foreach (var paragraphModel in pageModel.Element.ParagraphModels)
                                {
                                    @Html.Partial("_Paragraph", paragraphModel)
                                }
                            </div>
                        }
                    </div>


                }
            </div>
}