<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LASI.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ProjectWebsite" value="http://lasi-project.org"/>
    <add key="ResourcesDirectory" value=".\"/>
    <add key="MaximumEntropyModelDirectory" value="Resources\TaggingPackage\OpenNLP\OpenNLP\Models\"/>
    <add key="WordnetSearchDirectory" value="Resources\TaggingPackage\OpenNLP\OpenNLP\Models\namefind\"/>
    <add key="WordnetFileDirectory" value="Resources\WordNetThesaurusData\"/>
    <add key="SubordinatingPrepositionalsInfoFile" value="Resources\LASICustom\Binding\KnownSubordinators.txt"/>
    <add key="NameDataDirectory" value="Resources\LASICustom\NameData\"/>
    <add key="ConvertersDirectory" value="Resources\StandaloneFileConverters\"/>
    <add key="AutoDebugCleanupOn" value="true"/>
    <add key="LicencesDirectory" value=".\..\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <LASI.App.Properties.Settings>
      <setting name="AutoNameProjects" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PerformanceLevel" serializeAs="String">
        <value>High</value>
      </setting>
      <setting name="TrayMinimize" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoCleanProjectFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogProcessMessagesToFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputFormat" serializeAs="String">
        <value>JSON</value>
      </setting>
    </LASI.App.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
