
.documentselectiontab {
    /*display: inline-table;*/
    float: left;
    margin: 5em;
    outline-color: azure;
    list-style-type: none;
    position: absolute;
}

.NounPhrase {
    color: darkblue;
}

.Proper {
    color: darkred;
}

.Referencer {
    color: hotpink;
}

.Infinitive {
    color: teal;
}

.Entity {
    color: deepskyblue;
}

.Conjunctive {
    color: chartreuse;
}

.Prperositional {
    color: darkorange;
}

.Descriptror {
    color: indigo;
}

.Verbal {
    color: green;
}

.Adverbial {
    color: orange;
}

.LexicalDefaultStyle {
    color: black;
}

.Gerund {
    color: forestgreen;
}

#control_contextmenu {
    min-width: 150px;
    border: 1px solid #666;
    background-color: #eee;
}


.menuwrapper {
    position: absolute;
    border: 0.1em solid black;
    border-radius: 0.5em;
    background-color: #ffffff;
    text-align: center;
}

.phrasemenu {
    align-items: center;
    position: static;
    display: inline-block;
    float: none;
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 0.25em;
    background-color: grey;
    list-style: none;
    text-align: center;
}

.phrasemenuitem {
    -moz-user-select: none;
    align-self: center;
    align-items: center;
    -ms-user-select: none;
    -webkit-user-select: none;
    align-content: center;
    user-select: none;
    padding: 0.2em;
    border-radius: 0.2em;
    color: seashell;
    list-style: none;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
}
 