body {
}

.create-account-form {
    border: solid 1px;
    border-radius: 20px;
}

.form-horizontal-heading {
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px;
}

.col-md-4 .control-label {
    text-align: left;
    padding-bottom: 15px;
}
